
body{
	front-family: Arial, sans-serif;
	background-color:#f0f0f0;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center
	margin-top: 20px;
}

img.excursie {
	width: 300px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	display: block;
	margin: 20px auto;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 80%;
}
th {
	background-color: #87ceeb;
	padding: 10px;
	border: 1px solid #000;
}
td {
	border: 1px solide #000;
	padding: 10px;
}
tr:nth-child(even) {
	background-color: #e0f7fa;
}

tr:nth-child(odd) {
	background-color:#ffffff;
}
tr:hover{
	background-colo: #b2ebf2;
}

p.descriere{
	margin-top: 20px;
	front-style: italic;
}

from {
	background-color: white;
	margin: 30px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.1)
	width: 400px;
	text-align: left;
}

label {
	display: block;
	margin-top: 10px;
}

input[type="text"], select {
	width: 100%;
	padding: 8px;
	margin-top:5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box_sizing: border-box;
}

input:focus , selec:focus{
	border-color: #4CAF50;
	outline: none;
}
.radio-group label, .checkbox-group label{
	display: inline-block;
	margin-right: 10px;
}
.checkbox-group, .radio-group{
	margin-top: 10px;;
}

input[type="submit"], input[type="reset"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	margin-top: 15px;
	cursor: pointer;
}
input[type="submit"]:hover, imput[type="reset"]:hover{
	background-color: #45a049;
}







































